body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */

#home {
  background-color: rgb(204, 224, 254);
  margin-left:-1cm;
  margin-right:-0.5cm;
  margin-top:-1cm;
  padding-top: 1.5cm;
  padding-bottom: 2cm;
  height: 5mm;
 }

.topdiv {
  float: right;
  padding-right: 1cm;
  padding-top: 0.5cm;
  align-items: center;
}

.topmenu {
  color: rgb(0, 0, 0);
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-decoration:none;
}

.topmenu:hover {
  text-decoration: underline;
  /* Add the styles here */
}

.profile_name {
  color: rgb(0, 0, 0);
  float: left;
  font-size: 20px;
  padding-left: 2cm;
  align-items: center;
  vertical-align: middle;
  /* Add the styles here */
}

.profile_name .contact_info {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact_info img {
  width:20px;
  margin-right: 5px;
  float:left;
}

#content {
  background-color:  rgb(255, 255, 255);
  padding-left: 1cm;
}

/* Used in the About Me sections */

.container {
  display: flex;
}

/* Intro */

.introduction {
  display: flex;
  align-items: center;
}

#introduction h1 {
  font-size: 40px;
  margin-top: 90px;
  color: rgb(0, 0, 0);
}

#introduction p {
  font-size: 25px;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}

.profile_image {
  width: 250px;
  height: fit-content;
  vertical-align: middle;
  margin: 10px;
}

/* Course */

h2 {
  text-align: justify;
  font-size: 30px;
  color: #000000;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
}

h3 {
  text-align: justify;
  font-size: 20px;
  color: #000000;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: normal;
}

.course {
  border-collapse:collapse;
  border-spacing:5px;
  padding:10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.course th {
  border:1px solid rgb(246, 227, 195);
  padding:5px;
  background:rgb(255, 246, 219);
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.course td {
  border:1px solid rgb(246, 227, 195);
  text-align:center;
  padding:5px;
  background:#FFFFFF;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Projects */
.tab {
  overflow: hidden;
  border: none;
  background-color: rgb(255, 255, 255);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: rgb(255, 246, 219);
  color: rgb(0, 0, 0);
  float: left;
  border: 2px solid rgb(255, 246, 219);
  outline: none;
  cursor: pointer;
  height: 100px;
  width: 240px;
  text-align: center;
  display: block;
  border-radius: 6px;
  margin: 30px 50px 10px 50px;
  padding: 10px;
  font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(255, 246, 219);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(252, 224, 184);
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(252, 224, 184);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(252, 224, 184);
  font-weight: bolder;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

.projects-container {
  margin-left: 30px;
}

.media {
  margin-top: 15px;
  margin-left: 10px;
}

.projects-container hr {
  border: 1px solid rgb(252, 224, 184);
  width: 80%;
}

.project-card {
  margin: 0 15px 10px 30px;
  padding-bottom: 5px;
}

.project-card h3 {
  font-size: 25px;
  margin-left: 20px;
}

.project-card li {
  font-size: 20px;
  margin-left: 30px;
}

/* Recommendations */

.all_recommendations {
  display: flex;
  align-items: center;
  margin-left: 1in;
  flex-direction: row;
  flex-flow: wrap;
  padding: 20px;
}

.recommendation {
  font-style: italic;
  text-align: left;
  width: 21.875rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  border:1px solid gray;
  font-size: 18px;
  height:150px
}

.recommendation span {
  color: #7600bc;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

/* Recommendation Form */

input, textarea {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  margin: 10px;  
  width:100%;
}

fieldset {
  display: flexbox;
  align-content: center;
  justify-content: center;  
  padding: 25px; 
  margin-left: 50px; 
  margin-right: 50px;   
  border: thin solid white;
  width: 50%;
}